

 .ty-navbar .fas,.ty-navbar .far,.ty-navbar .fa{
    font-size: 1.2rem;
  }
  .ty-navbar  ul li{
    margin-left: 20px;
  }
 .ty-navbar li i:hover{
    color: #1561CF;
  }
  .ty-navbar h1{
    line-height: 0px;
  }
  .ty-navbar a{
    text-decoration: none;
  }
  .ty-navbar .navbar {
      position: relative;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -ms-flex-align: center;
      align-items: center;
      -ms-flex-pack: justify;
      justify-content: space-between;
      padding: 1.1rem 1rem !important;
      background-color: #F8F8F8;
     border-bottom: 1px solid lightgray;
  }
  
 .ty-navbar .image{
    width: 35px;
  }
  .ty-navbar.mobile{
    display: none;
  }
  
 
 .ty-navbar .logout{
        /* border: 2px solid #ff9800; */
    /* border-radius: 10px; */
    /* padding: 8px 8px; */
    font-weight: bold;
    height: 33px;
    color: white !important;
  }

  .ty-navbar .dropbtn {
    background-color: transparent;
    color: white;
    padding: 0px 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  .ty-navbar  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .ty-navbar .dropdown-content {
    /* display: none; */
    cursor: pointer;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 100%;
    box-shadow: 0px 0px 5px 0px rgb(0 0 0 / 11%);
    z-index: 999;
    border-radius: 10px;
  }
  
  .ty-navbar .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .ty-navbar  .menu{
    padding: 15px;
    box-shadow:0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    width:100%;
    background: white;
    }
    .ty-navbar #nav-header {
        background-color: rgb(225,234,239);
        border-radius: 0px 0px 0px 30px;
        padding: 6px 50px !important;
    }
    .ty-navbar  .dropbtn{
      background: #146389;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 9px 9px 10px 10px !important;
    }
    .ty-navbar .dropbtn:hover{
      background: #fba91e;
    }
 
    .ty-navbar .fa-bell{
    color: #146389;
    font-size: 18px;
    margin: 0px 20px;
  }
  .ty-navbar .nav-link {
  display: block;
  padding: 0.5rem 1rem;
  text-decoration: none;
  color: #A4A4A4 !important;
  }
  .ty-navbar .logog h1 .pro{
    background: #146389;
    border: 5px solid white;
    border-right: 0px;
    padding: 7px 3px 7px 15px;
    font-size: 28px;
    color: white;
    letter-spacing: 4px;
    font-family: Bahnschrift SemiCondensed;
  }
  .ty-navbar .logog h1 .serv{
    background: red;
    border: 5px solid white;
    border-left: 0px;
    padding: 7px 15px 7px 5px !important;
    font-size: 28px;
    color: white;
    letter-spacing: 3px;
    font-family: Bahnschrift SemiCondensed;
  }
  .ty-navbar .logog sup{
    top: -0.7em !important;
    font-size: 12px;
    letter-spacing: 0px;
    font-family: Bahnschrift SemiCondensed;
  }
  .ty-navbar  .fa-home,.fa-sign-out{
    color: #146389;
    font-size: 18px;
  }
  .ty-navbar .dropdown-item{
    padding: 0.25rem 0.8rem;
    cursor: pointer;
  }
  .ty-navbar .dropdown-menu{
    min-width: 8rem !important;
  }
  .ty-navbar .dropdown-toggle::after{
    display: none !important;
  }
  .ty-navbar .container-fluid {
        padding: 0px 30px;
  }