
.ty-navbar *{
  font-family: Bahnschrift SemiCondensed !important;
}
.ty-navbar .fa{
  font-family: FontAwesome !important;
}
.ty-navbar .logo h1{
  line-height: 0.3;
}
.ty-navbar .side-nav-button{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  cursor: pointer;
}
.ty-navbar mat-toolbar {
  position: sticky;
  top: 0;
  z-index: 100;
}
.ty-navbar .navbar-brand .logo{
  margin-left: 50px;
}
.ty-navbar .logo h1 .pro{
  background: #146389;
  border: 5px solid white;
  border-right: 0px;
  padding: 7px 3px 6px 15px !important;
  font-size: 28px;
  color: white;
  letter-spacing: 4px;
  font-family: Bahnschrift SemiCondensed;
}
.ty-navbar .logo h1 .serv{
  background: red;
    border: 5px solid white;
    border-left: 0px;
    padding: 7px 15px 6px 5px !important;
    font-size: 28px ;
    color: white;
    letter-spacing: 3px;
    font-family: Bahnschrift SemiCondensed;
}
.ty-navbar .logo sup{
  top: -1em !important;
  font-size: 12px !important;
  letter-spacing: 0px;
  font-family: Bahnschrift SemiCondensed;
}
.ty-navbar .tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.ty-navbar .tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: black;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

.ty-navbar .tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: -32%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
  transform: rotate(-180deg);
}



.ty-navbar ul li{
  margin-left: 20px;
}
.ty-navbar li i:hover{
  color: #1561CF;
}

.ty-navbar .navbar {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 1.1rem 1rem !important;
    background-color: #F8F8F8;
   border-bottom: 1px solid lightgray;
}

.ty-navbar .image{
  width: 35px;
}
.ty-navbar .mobile{
  display: none;
}
.ty-navbar .disable{
  background: lightgray;
  opacity: 0.6;
}
.ty-navbar :host::ng-deep.navbar-light .navbar-nav .nav-link {
  color: white;
}
.ty-navbar .logout{
      /* border: 2px solid #ff9800; */
  /* border-radius: 10px; */
  /* padding: 8px 8px; */
  font-weight: bold;
  height: 33px;
  color: white !important;
}

.ty-navbar .dropbtn {
  background-color: transparent;
  color: white;
  padding: 0px 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}
.ty-navbar .viewprofile{
  background: none;
  text-align: start;
  border: none;
  text-decoration: underline;
  color: black;
  font-size: 16px;
  margin-top: 8px;
}
.ty-navbar .dropdown {
  position: relative;
  display: inline-block;
}
.ty-navbar .fa-bell{
  color: #146389;
  margin: 0px 15px;
  font-size: 18px;
}
.ty-navbar .notification{
  background: red;
  height: 11px;
  width: 11px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  position: absolute;
  top: 6px;
  color: white;
  padding: 9px;
  margin-left: 7px;
  font-size: 12px;
  font-weight: bold;
}

.ty-navbar .dropdown-toggle::after {
display: inline-block;
margin-left: 0.255em;
vertical-align: 0.35em;
content: "";
border-top: 0.3em solid #146389;
border-right: 0.3em solid transparent;
border-bottom: 0;
border-left: 0.3em solid transparent;
display: none;
}
.btn:focus{
border: none !important;
}
.ty-navbar .dropdown-content {
  /* display: none; */
  cursor: pointer;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 100%;
  box-shadow: 0px 0px 5px 0px rgb(0 0 0 / 11%);
  z-index: 999;
  border-radius: 10px;
}

.ty-navbar .dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.ty-navbar .menu{
  padding: 15px;
  box-shadow:0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  width:100%;
  background: white;
  }
.ty-navbar  .dropbtn{
    background: #146389;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 9px 9px 10px 10px !important;
  }
.ty-navbar  .fa-home,.fa-sign-out{
    color: #146389;
    font-size: 18px;
  }
 .ty-navbar .fa-th{
    color: #146389;
    font-size: 28px;
  }
 .ty-navbar .dropdown-item{
    padding: 0.25rem 0.8rem;
    cursor: pointer;
  }
  .ty-navbar .dropdown .card{
    padding: 15px 10px;
    background-color: #e1eaef;
  }
  .ty-navbar .dropdown .pro, .dropdown .serv{
    font-size: 22px !important;
  }

.ty-navbar .menu2{
    left: auto !important;
    right: 0px;
    width: 30rem;
    padding: 20px 25px;
  }
.ty-navbar .menu1{
    left: auto !important;
    right: 0px;
    width: 20rem;
    padding: 0px 0px;
  }
  .ty-navbar h2{
    font-weight: 700 !important;
    font-size: 18px !important;
  }
.ty-navbar .profilephoto{
  width: 80px;
  height: 80px;
  border: 1px solid lightgray;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.ty-navbar .emailid{
  color: gray;
}
.ty-navbar .signoutbtn{
  font-weight: 500;
  color: rgba(0,0,0,0.6);
  font-size: 18px;
}
.ty-navbar .profilephoto h1{
  display: flex;
  align-items: center;
  justify-content: center;
  color: red;
  font-size: 65px !important;
  margin-bottom: 0px;
}
.ty-navbar .btn:focus-visible,.dropdown-toggle:focus-visible{
  border: none !important;
  box-shadow: none !important;
  outline: none !important;
}

.ty-navbar .menu1 h4{
  text-transform: capitalize;
  margin-bottom: 0px;
  line-height: 0.8;
}
.ty-navbar .dropdown-toggle {
  border: none;
  outline: none;
  box-shadow: none;
  background: none !important;
  padding: 8px;
}
.ty-navbar  .dropbtn:hover{
    background: #fba91e;
  }
.ty-navbar  .container-fluid{
    padding: 0px !important;
  }
.ty-navbar .btn:focus{
  border: none !important;
 }
 .ty-navbar .btn.show, .btn:first-child:active, :not(.btn-check)+.btn:active {
  border-color: transparent !important;
}
.ty-navbar .background-content{
  border-radius: 50%;
    background: green;
    width: 40px;
    height: 40px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.ty-navbar .background-content h2{
  margin-bottom: 0px;
  color: white;
  text-transform: capitalize;
  cursor: pointer;
}
.ty-navbar .content h2{
  margin-bottom: 0px;
  text-transform: capitalize;
  cursor: pointer;
}
.ty-navbar .disable{
  background-color: red;
  opacity: 1;
}
.ty-navbar .disable-content{
  top: 4px;
    position: relative;
}
body{
  overflow: hidden;
}

.ty-navbar #nav-header{
  background-color: rgb(225,234,239);
  border-radius: 0px 0px 0px 30px;
  /* padding: 15px 50px !important; */
  padding: 3px 30px 7px!important;
}

.ty-navbar .fa-user-circle-o{
  color: #146389;
  font-size: 25px;
}
.ty-navbar .nav-link {
display: block;
padding: 0.5rem 1rem;
text-decoration: none;
color: #A4A4A4 !important;
}
.ty-navbar .menu-icon {
  width: 30px;
  height: 30px;
  position: relative;
  cursor: pointer;
}

.ty-navbar .arrow {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 10px;
  height: 10px;
  border: solid black;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 3px;
  transition: transform 0.3s ease;
}

.ty-navbar .menu-icon:hover .arrow {
  transform: translate(-50%, -50%) rotate(90deg);
}
.tooltip{
  opacity: 1 !important;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  top: 100%;
  left: 50%;
  opacity: 0;
  margin-left: -60px;
  height: 30px;
   color: white !important;
}

.ty-navbar .tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}